<form method="post" action="/signIn">
  <label>Email</label> <input type="text" name="email"/>
  <label>Password</label> <input type="password" name="password"/>
  <button type="submit">Login</button>
</form>